$headerColor: #ffcc00;
$textColor: #fff;
$fontStack: 'Helvetica', sans-serif;
$mainColor: #0060a7;

@mixin displayingContent{
    text-align: center;
    padding-top: 20px;
}

body{
    background-image: url("../images/beer-wall.jpeg");
    font-family: 'Montserrat', sans-serif;
            
}

.container{
    @include displayingContent();
    background-color: rgba(0, 0, 0, 0.5);
    .header{

        h1{
            color: $textColor;
            font-family: $fontStack;
            font-size: 72px;
            font-weight: 700;
            padding: 10px;
        } 
        img{
            width: 500px;
        }
    }
    .card{
        background-color: #1f1f1f;
        color: $textColor;
        text-align: left;
        .btn{
            float: right;
            .fa-minus-square{
                color: $textColor;
            }
        }
        .card-header{
            font-weight: 700;
            font-size: 20px;
        }
        input{
            background-color: #383838;
            color: $textColor;
        }
    }

}