$headerColor: #ffcc00;
$textColor: #fff;
$fontStack: 'Helvetica', sans-serif;
$backgroundColor: #0060a7;

@mixin displayingContent{
    text-align: center;
    padding-top: 50px;
}

body{
    background-color: $backgroundColor;
}

.container{
    @include displayingContent();
    h1{
        color: $headerColor;
        font-family: $fontStack;
        font-size: 72px;
        font-weight: 700;
    } 
    .card{
        text-align: left;
        .btn-light{
            float: right;
        }
    }

}